.body{
    background-color: rgb(0, 0, 0);
 }
  
 

img{
    float: right;
    width: 400;
    height: 400;
}


  .d-block{
    height: 800px;
    width: 100px;
}

.w3-container{
  padding-top: 70px;
}

