.body{
    background-color: rgb(181, 211, 224);
    font-family: "Jersey 15";
 }
  
 .jersey-15-regular {
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
  }


footer {
  margin-top: 30px;
  text-align: center;
  padding: 75px;
  background-color: rgb(34, 33, 32);
  color: white;
}

.custom-card{
  width: 24rem;
}

.card img{
  height: 15rem;
  object-fit: cover;
}

.d-block{
  height: 800px;
  width: 100px;
}